.imageContainer {
  display: flex;
  background-image: url('./star-wars.jpeg');
  height: 1180px;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-position: center ;
}

.componentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

